@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
@import './components/variables';
@import './components/front';
@import './components/nav';
@import './components/provide';
@import './components/about';
@import './components/us';
@import './components/estimate';
// @import './components/homefront';
// ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// mobile functionality 
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.active {
    background-color: rgb(238, 238, 238);
    box-shadow: rgba(0, 0, 0, .1);
    border: none;
}

@media(max-width: 991px) {
    header {
        padding: 20px;
    }
    header label {
        display: initial;
        color: $blueColor;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgb(215, 221, 221);
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        display: none;
    }
    header .btn {
        display: none;
    }
    header .navbar ul li {
        width: 100%;
    }
    #menu-bar:checked~.navbar {
        display: initial;
        transition: ease-in;
    }
    #appoint {
        display: initial;
    }
}

@media(max-width: 500px) {
    .logo {
        width: 100px;
    }
}

@media(max-width: 515px) {
    .provide-ctn img {
        height: 250px;
        width: 250px;
    }
}

@media(max-width: 430px) {
    .front-ctn a {
        padding: 8px;
        font-size: 12px;
    }
}

@media(max-width: 350px) {
    .services .serv-img {
        height: 175px;
        width: 175px;
    }
    .services p {
        font-size: 15px;
    }
}

@media(max-width: 775px) {
    .front-ctn #promo {
        width: 400px;
        height: 400px;
    }
}

@media(max-width: 600px) {
    .front-ctn #promo {
        width: 200px;
        height: 200px;
    }
}

@media(max-width: 1300px) {
    .serv-ctn {
        flex-wrap: wrap;
    }
}

@media(max-width: 1300px) {
    .abt-ctn {
        flex-wrap: wrap;
    }
}

@media(max-width: 1175px) {
    .abt-info {
        margin: 10px;
    }
}