@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Merriweather:wght@700&family=Playfair+Display:wght@700&family=Poppins&family=Roboto:wght@700&family=Source+Sans+Pro:wght@300;400&display=swap');
// @mixin navFlex {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }
// nav {
//     height: 95px;
//     background: rgb(255, 255, 255);
// }
// nav img {
//     width: 150px;
//     position: absolute;
//     top: -35px;
//     left: 12%;
// }
// nav ul {
//     float: right;
//     margin-right: 25px;
// }
// nav ul li {
//     display: inline-block;
//     line-height: 80px;
//     margin: 0 15px;
// }
// nav ul li a {
//     position: relative;
//     color: rgb(0, 0, 0);
//     font-size: 16px;
//     text-transform: uppercase;
//     text-decoration: none;
//     padding: 3px;
// }
// nav ul li a:before {
//     position: absolute;
//     content: '';
//     left: 0;
//     bottom: 0;
//     height: 3px;
//     width: 100%;
//     background: #132DDB;
//     transform: scaleX(0);
//     transform-origin: right;
//     transition: transform .4s linear;
// }
// nav ul li a:hover:before {
//     transform: scaleX(1);
//     transform-origin: left;
// }
// label #btn,
// label #cancel {
//     color: rgb(172, 165, 165);
//     font-size: 30px;
//     float: right;
//     line-height: 80px;
//     margin-right: 40px;
//     cursor: pointer;
//     display: none;
// }
// #check {
//     display: none;
// }
// @media(max-width: 1118px) {
//     nav img {
//         left: 8%;
//     }
// }
// nav ul li a {
//     font-size: 15px;
// }
// @media(max-width: 860px) {
//     label #btn {
//         display: block;
//     }
//     ul {
//         position: fixed;
//         width: 100%;
//         height: 100vh;
//         background: rgba(10, 39, 185, 0.851);
//         top: 90px;
//         left: -100%;
//         text-align: center;
//         transition: all .5s;
//     }
//     nav ul li {
//         display: block;
//         margin: 50px 0;
//         line-height: 30px;
//     }
//     nav ul li a {
//         font-size: 18px;
//     }
//     #check:checked~ul {
//         left: 0;
//     }
//     #check:checked~label #btn {
//         display: none;
//     }
//     #check:checked~label #cancel {
//         display: block;
//     }
// }
@mixin navFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    @include navFlex();
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-bottom: 3px solid blue;
    padding: 10px;
    z-index: 1000;
    height: 8em;
}

.logo {
    // text-decoration: $noDecor;
    // font-size: 30px;
    // color: rgb(216, 188, 31);
    // font-family: 'Noto Serif Display', serif;
    width: 200px;
}

.logo #st {
    color: rgb(19, 190, 190);
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    display: inline-block;
}

header .navbar ul li a {
    font-size: 15px;
    display: block;
    text-decoration: $noDecor;
    color: rgb(12, 12, 12);
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

header .navbar ul li a:hover {
    background: #132DDB;
    padding: 13px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

header .navbar ul li:focus-within>ul,
header .navbar ul li:hover>ul {
    /* resets display */
    display: initial;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header .btn {
    // text-decoration: $noDecor;
    // font-family: $headerFont;
    // background: $blueColor;
    padding: 10px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

header .btn:hover {
    background: rgb(205, 209, 205);
    transition: all ease-in .3s;
}

#appoint {
    display: none;
}

// @media(max-width: 944px) {
//     nav img {
//         left: 6%;
//         top: 20px;
//         width: 140px;
//     }
// }